</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.0/holder.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
<script type="text/javascript" src="{{ base_url() }}/assets/javascript/main.js"></script>
<script type="text/javascript" src="https://cdn.usf.edu/js/functions.js"></script>
<script type="text/javascript" src="https://cdn.usf.edu/js/secondary-functions.js"></script>
<footer id="footer">
        <div class="footer-content container">
            <div class="footer-info">
                <a href="http://www.usf.edu/"><img class="footer-usf-logo" src="https://cdn.usf.edu/themes/sun-globe/global/1.0.0/images/footer/footer-logo.png" alt="University of South Florida" /></a>
                <p class="footer-copy">Copyright &copy; 2016, University of South Florida. All rights reserved.<br /> 4202 E. Fowler Avenue, CGS301, Tampa, FL 33620, USA &bull; 813-974-2011</p>
            </div>


<nav class="footer-navigation">
  <ul>
        <li><a title="USF Home" href="http://www.usf.edu/">USF Home</a></li>
        <li><a title="About USF" href="http://www.usf.edu/about-usf/index.aspx">About USF</a></li>
        <li><a title="Academics" href="http://www.usf.edu/academics/index.aspx">Academics</a></li>
        <li><a title="Admissions" href="http://www.usf.edu/admission/index.aspx">Admissions</a></li>
        <li><a title="Campus Life" href="http://www.usf.edu/campus-life/index.aspx">Campus Life</a></li>
        <li><a title="Research" href="http://www.usf.edu/research/index.aspx">Research</a></li>
        </ul>
        <ul>
        <li><a title="USF System" href="http://system.usf.edu" target="_blank">USF System</a></li>
        <li><a title="Administrative Units" href="/about-usf/administrative-units.aspx">Administrative Units</a></li>
        <li><a title="Regulations" href="http://regulationspolicies.usf.edu/regulations-and-policies/regulations-policies-procedures.asp" target="_blank">Regulations &amp; Policies</a></li>
        <li><a title="Human Resources" href="http://usfweb2.usf.edu/human-resources/index.asp" target="_blank">Human Resources</a></li>
        <li><a title="Emergency & Safety" href="http://news.usf.edu/article/templates/?a=813&amp;z=51" target="_blank">Emergency &amp; Safety</a></li>
        <li><a title="Visit USF" href="/about-usf/visit-usf.aspx">Visit USF</a></li>
        </ul>
        <ul>
        <li><a title="USF Health" href="http://health.usf.edu/" target="_blank">USF Health</a></li>
        <li><a title="USF Athletics" href="http://www.gousfbulls.com/" target="_blank">USF Athletics</a></li>
        <li><a title="USF Alumni" href="http://usfalumni.net/s/861/index.aspx" target="_blank">USF Alumni</a></li>
        <li><a title="Support USF" href="http://usfweb3.usf.edu/unstoppable/index.aspx" target="_blank">Support USF</a></li>
        <li><a title="USF Libraries" href="http://www.lib.usf.edu/" target="_blank">USF Libraries</a></li>
        <li><a title="USF World" href="http://global.usf.edu/" target="_blank">USF World</a></li>
    </ul>
    </nav>
  </div>
</footer><!-- end footer -->

</body>
</html>
