  <!DOCTYPE html>
  <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://cdn.usf.edu/themes/sun-globe/global/1.0.0/css/global-styles.css" />
    <link type="text/css" rel="stylesheet" media="screen" href="https://cdn.usf.edu/themes/sun-globe/applications/1.0.0/css/applications.css" />
    <!--[if lt IE 9]><link type="text/css" rel="stylesheet" media="screen" href="https://cdn.usf.edu/themes/sun-globe/applications/1.0.0/css/ie-styles.css" /><![endif]-->

    <link href="{{ base_url() }}/assets/stylesheets/main.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="https://cdn.usf.edu/favicon.ico" />
    <title>{{ page_title|default('') }}</title>
  </head>

  <body role="document">

      <body>
          <header role="banner">
              <div class="top-bar-wrapper">
                  <div class="top-bar container">
                      <a class="top-bar-logo" href="http://www.usf.edu/"><img src="https://cdn.usf.edu/themes/sun-globe/global/1.0.0/images/header/top-bar/top-bar-welcome.png" alt="Welcome to the University of South Florida" /></a>
                  </div><!-- end top-bar -->
              </div><!-- end top-bar-wrapper -->

              <div class="inside-header">
                  <div class="banner">
                      <h1><a class="banner-logo-link" href="http://www.usf.edu/"><img class="banner-logo" src="https://cdn.usf.edu/themes/sun-globe/global/1.0.0/images/header/banner/banner-logo.png" alt="University of South Florida" /></a></h1>
                  </div><!-- end banner -->
                  <nav class="main-navigation" role="navigation">
                      <ul class="main-nav-six container">
                          <li><a href="http://www.usf.edu/about-usf/index.aspx">About USF</a></li>
                          <li><a href="http://www.usf.edu/academics/index.aspx">Academics</a></li>
                          <li><a href="http://www.usf.edu/admissions/index.aspx">Admissions</a></li>
                          <li><a href="http://www.usf.edu/campus-life/index.aspx">Campus Life</a></li>
                          <li><a href="http://www.usf.edu/research/index.aspx">Research</a></li>
                          <li><a href="http://system.usf.edu/">USF System</a></li>
                      </ul>
                  </nav>  <!-- end main-navigation -->
              </div><!-- end inside-header -->
          </header><!-- end header -->
      <div id="content" class="container" role="main">
